<footer>
   <div class="content-padding">
      <div class="footer-content">
        <p> Copyright &copy: Jyothsna Gampa</p>
          <div class="social-media-icons">
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
      </div>
   </div>
 </div>
</footer>
